{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles%}


{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/all_pics.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
<div class="col-md-2"></div>
<div class="col-md-8">
    <!-- Adding a search form  -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form form%}
        <input type="submit" class="btn btn-primary btn-sm" value="Submit">
        <input type="hidden" name="next" value="{{next}}">
    
    </form>
    <!-- search form end -->
</div>
<br><br><br>
<p>Short description of what the site does</p>
<div class="col-md-2"></div>

{% endblock %} 